body{
    background-image: url(bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    height: 300px;
    width: 350px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
    text-align: center;
}
h1{
    font-size: 50px;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 6px;
    font-weight: bold;
    color: black;
    border: none;
    font-size: 20px;
    background-color: grey;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); 
    transform: scale(1.1);
  }